/* Menú desplegable */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    color: #ECF0F1;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos del menú desplegable */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #34495E;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    list-style: none;
    padding: 0;
    left: 0;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 10px;
    color: #ECF0F1;
    text-align: left;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
